# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3001

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_BASEPATH=/api/auth
NEXTAUTH_SECRET="MA5fyXisouZYtUvc4fbJ+ofqvdyQyPyIbvwExlM/UTk="

# -----------------------------------------------------------------------------
# API URLs
# -----------------------------------------------------------------------------
NEXT_PUBLIC_API_BASE_URL=http://localhost:8001/api
NEXT_PUBLIC_ADMIN_API_BASE_URL=http://localhost:8001/api/admin


# -----------------------------------------------------------------------------
# Neon Database
# -----------------------------------------------------------------------------

